<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diegobanol.practica4" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HotelsActivity"
            android:label="@string/hotels"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".BarsActivity"
            android:label="@string/dinners"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SitesActivity"
            android:label="@string/sites"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/info"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/aboutus"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Hotel1Activity"
            android:label="@string/hotel1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Hotel2Activity"
            android:label="@string/hotel2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Hotel3Activity"
            android:label="@string/hotel3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Hotel4Activity"
            android:label="@string/hotel3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Bar1Activity"
            android:label="@string/bar1"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Bar2Activity"
            android:label="@string/bar2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Bar3Activity"
            android:label="@string/bar3"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Bar4Activity"
            android:label="@string/bar4"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Site1Activity"
            android:label="@string/site1"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Site2Activity"
            android:label="@string/site2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Site3Activity"
            android:label="@string/site3"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Site4Activity"
            android:label="@string/site4"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Site5Activity"
            android:label="@string/site5"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
